* {
	box-sizing: border-box;
}

body {
	font-family: 'Noto Sans', sans-serif;
	margin: 0px;
	overflow-x: hidden;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.navbar {
	position: fixed;
	background-color: 247,247,247,0.9;
	top: 0px;
	width: 100%;
	opacity: 0,9;
}

.navbar .navbar-list {
	list-style-type: none;
	margin: 0px;
	float: left;
	font-size: 0;
}

.navbar .navbar-list .navbar-item {
	display: inline-block;
	font-size: 16px;
}

/*.navbar .navbar-list .navbar-item.active {
	color: aqua;
	background-color: #A4A4A4;
}*/

.navbar .navbar-list .navbar-item a {
	display: inline-block;
	text-decoration: none;
	padding: 20px;
	color: rgba(0, 255, 255, 0.92);
	transition: all 0.5s linear;
}

.navbar .navbar-list .navbar-item a:hover {
	color: #F7F7F7;
	background-color: #A4A4A4;
}

.portada {
	position: absolute;
	left: 0;
	top: 80%;
	width: 100%;
	color: springgreen;
	font-family: 'Droid Sans', sans-serif;
	text-align: center;
	font-size: 50px;
}

.portada-img {
	width: 100vw;
	height: 100vh;
	background-image: url(../images/HTML5-CSS3-Javascript.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

.portada-frase {
	position: absolute;
	left: 0;
	top: 90%;
	color: springgreen;
	width: 100%;
	text-align: center;
	font-family: 'Droid Sans', sans-serif;
	font-size: 26px;
}